<p>rooms works!</p>
<p>Welcome to {{hotelName}}</p>
<div [ngStyle]="{'color': rooms.availableRooms ? 'green': 'red'}"
  [hidden] = "isHidden">
  Number of Rooms:
  <div [innerText] = "numberOfRooms"></div>
</div>

{{ rooms.availableRooms <= 0 ? "No rooms" : rooms.availableRooms }}

<div *ngIf="rooms?.availableRooms && rooms.availableRooms > 0">
  Rooms List
</div>

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<button (click)="toggle()">Toggle</button>

{{ roomList | json }}

<hinv-room-list [rooms]="roomList" (roomSelector)="selectRoom($event)"></hinv-room-list>
