<h3>{{ getError$ | async }}</h3>
<p>rooms works!</p>
<p>Welcome to {{ hotelName }}</p>
<div
  [ngStyle]="{ color: rooms.availableRooms ? 'green' : 'red' }"
  [hidden]="isHidden"
>
  Number of Rooms:
  <div [innerText]="numberOfRooms"></div>
</div>

{{ rooms.availableRooms <= 0 ? "No rooms" : rooms.availableRooms }}

<div *ngIf="rooms?.availableRooms && rooms.availableRooms > 0">Rooms List</div>

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<button (click)="toggle()">Toggle</button>

<!-- {{ roomList | json }} -->
{{ priceFilter | json }}
<div>
  <input
    matInput
    type="text"
    class="form-control"
    placeholder="Price"
    [formControl]="priceFilter"
  />
</div>

<div>
  <button [routerLink]="'/rooms/new'">Add Room</button>
  <button (click)="editRoom()">Edit Room 3</button>
  <button (click)="deleteRoom()">Delete Room 3</button>
</div>

<hinv-room-list
  *ngIf="!isHidden"
  [rooms]="roomList"
  (roomSelector)="selectRoom($event)"
  [title]="title"
  [priceFilter]="priceFilter.value"
></hinv-room-list>
<router-outlet></router-outlet>
